h3 {
  display: inline-block;
  margin-right: 1rem;
}
button {
  outline: none;
  margin-top: 1rem;
}
#display {
  margin-left: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
}
#correct {
  margin-bottom: 4%;
  text-align: center;
}
#incorrect {
  margin-bottom: 4%;
  text-align: center;
}
#congratulation {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
}
#start-btn {
  margin-left: 45%;
}
#playagain-btn {
  margin-left: 45%;
}
